name: feature_water
description: "Feature module for Water Tracker"
version: 0.0.1
publish_to: 'none'

environment:
  sdk: ">=3.4.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  core_logic:
    path: ../../core_logic
  core_ui:
    path: ../../core_ui
  flutter_riverpod: ^3.2.1
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
