name: fasting_tracker
description: Track your intermittent fasting progress with metabolic stages visualization, streaks, and achievements.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.5.0

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: any
  flutter_riverpod: ^2.6.1
  shared_preferences: ^2.3.5
  google_mobile_ads: ^5.3.0
  fl_chart: ^0.69.0
  flutter_local_notifications: ^18.0.1
  timezone: ^0.9.4

dev_dependencies:
  flutter_launcher_icons: ^0.13.1
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  integration_test:
    sdk: flutter

flutter:
  generate: true
  uses-material-design: true
  
  assets:
    - assets/

